mixin cardTile(title, link, description, img, icon)
    .card
        a(href=link).position-relative
            .position-absolute.w-100
                img(src=icon alt="Kiwi standing on oval").icon.float-right.m-3

            img.card-img-top(src=img)
        
        .border.border-top-0.text-left.position-relative 
            span.p-1.px-3.bg-primary.text-white.font-12.text-uppercase.position-absolute listen

            .card-body.text-center
                p.m-2.card-text.font-12.font-weight-bold MUSIC

                .card-title.text-primary
                    a(href=link) 
                        h5.font-weight-bolder.clamp-3=title

                p.card-text.clamp-2=description
