mixin images(imageVal, caption, link1, link2, link3)
    - var image = imageVal
    if image === '1'
        .row.py-25
            .col-12 
                img.img-main-holder(src=link1 width='100%')

    else if image === '2'
        .row.py-25
            .col-12.col-md-6     
                img.img-holder(src=link1 width='100%')
            .col-12.col-md-6
                img.img-holder(src=link2 width='100%')

    else if image === '3'
        .row.py-25
            .col-12.pb-25
                img.img-main-holder(src=link1 width='100%')
            .col-12.col-md-6
                img.img-holder(src=link2 width='100%')
            .col-12.col-md-6
                img.img-holder(src=link3 width='100%')

    .row 
        .col 
            p(data-desktop-caption="This is for desktoop" data-mobile-caption="This is for mobile").pb-25.m-0.font-16.caption=caption


            