mixin images(imageVal, caption, link1, link2, link3)
    - var image = imageVal
    if image === '1'
        .row
            .col-12.pb-4 
                img(src=link1 width='100%')

    else if image === '2'
        .row
            .col-12.col-md-6.pb-4
                .img-holder  
                    img(src=link1 width='100%')
            .col-12.col-md-6.pb-4
                .img-holder 
                    img(src=link2 width='100%')

    else if image === '3'
        .row
            .col-12.pb-4
                img(src=link1 width='100%')
            .col-12.col-md-6.pb-4 
                .img-holder
                    img(src=link2 width='100%')
            .col-12.col-md-6.pb-4 
                .img-holder
                    img(src=link3 width='100%')

    .row 
        .col 
            p.mb-5.font-16=caption


            