mixin images(imageVal, caption, link1, link2, link3)
    - var image = imageVal
    if image === '1'
        .row.pt-4
            .col-12.pb-4 
                img(src=link1 width='100%')

    else if image === '2'
        .row.pt-4
            .col-12.col-md-6.pb-4     
                img.img-holder(src=link1 width='100%')
            .col-12.col-md-6.pb-4
                img.img-holder(src=link2 width='100%')

    else if image === '3'
        .row.pt-4
            .col-12.pb-4
                img(src=link1 width='100%')
            .col-12.col-md-6.pb-4 
                img.img-holder(src=link2 width='100%')
            .col-12.col-md-6.pb-4 
                img.img-holder(src=link3 width='100%')

    .row 
        .col 
            p(data-desktop-caption="This is for desktoop" data-mobile-caption="This is for mobile").mb-5.font-16=caption


            